Brotli
certifi
chardet
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
Flask-Login
Flask-SQLAlchemy
future
idna
itsdangerous
Jinja2
mailjet-rest
MarkupSafe
plotly
requests
retrying
shortuuid
six
SQLAlchemy
urllib3
validate-email
Werkzeug
gunicorn